<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>

<div>
    <h3>City</h3>
    <p th:text="${weather.getBody().city}">City</p>
    <h3>City</h3>
    <p th:text="${weather.getBody().date}">Date</p>
    <h3>Current Conditions</h3>
    <p th:text="${weather.getBody().description}">Description</p>
    <h3>Average temperature</h3>
    <p th:text="${weather.getBody().avgTemp} + ' &#8451;'">Average temperature</p>
</div>
</body>
</html>